<ngx-datatable
  class="bootstrap w-100"
  [rows]="posts"
  [limit]="15"
  [columnMode]="'force'"
  [footerHeight]="'auto'"
  [loadingIndicator]="true"
>
  <ngx-datatable-column name="User ID" [width]="50">
    <ng-template let-value="value" ngx-template-cell-template>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="ID" [width]="50">
    <ng-template let-value="value" ngx-template-cell-template>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Title">
    <ng-template let-value="value" ngx-template-cell-template>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Body">
    <ng-template let-value="value" ngx-template-cell-template>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
